{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="text-center">
        <h1>Reddit Account Linking</h1>
        <p class="lead">Currently linked to the following reddit account:<br /><a href="http://reddit.com/u/{{current_user.reddit_user.username}}">{{ current_user.reddit_user.username }}</a></p>
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-area">  
            <form role="form" id="imgur_unlink_form" action="/account/reddit/unlink" method='post' >
            <input type="submit" id="submit" name="submit" class="btn btn-danger" value="Disconnect Reddit Account">
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
