{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="text-center">
    	<h1>Home Page Placeholder</h1>
    	<p class="lead"><br></p>
<!-- Input Form from http://bootsnipp.com/snippets/featured/simple-contact-form -->
<div class="col-md-5">
    <div class="form-area">  
        <form role="form" id="upload_form" action="/upload_and_post/process" method='post' >
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Upload Image</h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="img_url" name="img_url" placeholder="Image Source URL">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="title" name="title" placeholder="Reddit Post Title">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
					</div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="comment" placeholder="Reddit Post Comment" maxlength="140" rows="7"></textarea>
                        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                           </div> 
                    <input type="submit" id="submit" name="submit" class="btn btn-primary pull-right" value="Submit Form" >
        </form>
    </div>
</div>
</div>
{% endblock %}
