<!doctype html>
<html lang="en">
    <head>
    {% include 'layout_headers.html' %}
	
    {% if page %}
	    <title>{{ page.title() }} | Reddit-Imgur Poster</title>
	{% else %}
        <title>Reddit-Imgur Poster</title>
	{% endif %}	
    {% if page %}
	<!-- Include a specific page's stylesheets if applicable -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/' + page + '.css') }}" >
    <script type="text/javascript" src="{{ url_for('static', filename='js/' + page + '.js') }}"></script>
    {% endif %} 
    </head>
    <body>
        {% include 'navbar.html' %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="list-unstyled text-center lead">
                {% for category, message in messages %}
                    {% if category %}
                        <li class="{{ 'text-' + category }}">{{ message }}</li>
                    {% else %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
