<!doctype html>
<html lang="en">
    <head>
    {% include 'layout_headers.html' %}
	
    {% if page %}
	    <title>{{ page.title() }} | Reddit-Imgur Poster</title>
	{% else %}
        <title>Reddit-Imgur Poster</title>
	{% endif %}	
    {% if page %}
	<!-- Include a specific page's stylesheets if applicable -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/' + page + '.css') }}" >
    <script type="text/javascript" src="{{ url_for('static', filename='js/' + page + '.js') }}"></script>
    {% endif %} 
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}{% endblock %}
    </body>
</html>
